[core]
	autocrlf = false
	safecrlf = warn
	excludesfile = ~/.gitignore_global
	editor = vim
	ignorecase = false
	quotepath = false
[branch]
	autosetuprebase = always
[merge]
	tool = vimdiff
[pull]
	rebase = true
[push]
	default = simple
[rerere]
	enabled = true
[user]
	name = Qingrong Ke
	email = keqingrong1992@gmail.com
[credential]
	helper = store
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[gui]
	encoding = utf-8
