[core]
	autocrlf = false
	safecrlf = warn
	excludesfile = ~/.gitignore_global
	editor = vim
	ignorecase = false
	quotepath = false
[branch]
	autosetuprebase = always
[merge]
	tool = vimdiff
[pull]
	rebase = true
[push]
	default = simple
[rerere]
	enabled = 1
	autoupdate = 1
[user]
	name = Qingrong Ke
	email = keqingrong1992@gmail.com
