[core]
	autocrlf = false
	safecrlf = warn
	excludesfile = ~/.gitignore_global
	editor = vim
[branch]
	autosetuprebase = always
[merge]
	tool = vimdiff
[push]
	default = simple
[user]
	name = keqingrong
	email = keqingrong1992@gmail.com