/* 宋体 */
.song {
  font-family: 'Source Han Serif SC', 'Noto Serif CJK SC', 'FZNewShuSong-Z10S', FZGFShuSong, 'FZShuSong-Z01', 'FZShuSong-Z01S', 'Songti SC', STSong, NSimSun, SimSun, serif;
}

/* 仿宋 */
.fang-song {
  font-family: 'FZZFangSong-Z02', 'FZZFangSong-Z02S', STFangsong, FangSong, serif;
}

/* 楷体 */
.kai {
  font-family: 'FZKai-Z03', 'FZKai-Z03S', 'Kaiti SC', STKaiti, KaiTi, serif;
}

/* 黑体 */
.hei {
  font-family: 'Source Han Sans SC', 'Noto Sans CJK SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'FZHei-B01', 'FZHei-B01S', 'Heiti SC', STHeiti, SimHei, sans-serif;
}

@font-face {
  font-family: "宋体";
  src: local("Source Han Serif SC"), local("Noto Serif CJK SC"), local("Songti SC"), local("STSong");
}

@font-face {
  font-family: SimSun;
  src: local("Source Han Serif SC"), local("Noto Serif CJK SC"), local("Songti SC"), local("STSong");
}

body {
  font-family: 'Source Han Serif SC', 'Noto Serif CJK SC', 'FZNewShuSong-Z10S', FZGFShuSong, 'FZShuSong-Z01', 'FZShuSong-Z01S', 'Songti SC', STSong, NSimSun, SimSun, serif;
}
