/*
 * @desciption: 有道词典去广告
 * @author: keqingrong
 * @update: 20160511
 * @url: https://github.com/keqingrong
 */

/** Youdao Ads **/
#imgAd,
#topImgAd,
#img-banner,
.ads {
    display: none !important;
}

/** ISP Ads **/
#x,
#google_ads_frame1 {
    display: none !important;
}

/** adjustment **/
.dialog-guide-download {
    display: none !important;
}

.result_navigator {
    width: 200px;
}
.results-content {
    width: 600px;
    margin-left: 220px;
}
