registry=https://registry.npmjs.org/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver
operadriver_cdnurl=http://npm.taobao.org/mirrors/operadriver
sass_binary_site=http://npm.taobao.org/mirrors/node-sass
fse_binary_host_mirror=https://npm.taobao.org/mirrors/fsevents
electron_mirror=https://npm.taobao.org/mirrors/electron
init-author-name=Qingrong Ke
init-author-email=keqingrong@outlook.com
init-author-url=https://keqingrong.github.io/
init-license=MIT
init-version=0.0.0
save-prefix=^
git-tag-version=false
strict-ssl=true
always-auth=true
